<div class="container">
  <h1 id="title"><%= @title %></h1>

  <% if @favorites.count.zero? %>
    <p><small>Ajoutez des produits à vos favoris</small></p>
  <% else %>
    <%= form_tag favorites_path, class: "search-flex mb-2", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Trouver un produit"
      %>
      <%= button_tag :submit, class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
      <% end %>
      <%#= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <p style="margin-bottom: 0"><small>Vous avez <%= pluralize(@favorites.count,'produit', plural: 'produits') %> dans vos favoris</small></p>
    <ul class="filtre-favorite">
      <li class="filtre-btn active"><p>Tous</p></li>
      <li class="filtre-btn"><p>Viandes et poissons</p></li>
      <li class="filtre-btn"><p>Fruits et légumes</p></li>
      <li class="filtre-btn"><p>Snacks</p></li>
      <li class="filtre-btn"><p>Boissons</p></li>
      <li class="filtre-btn"><p>Produits laitiers</p></li>
      <li class="filtre-btn"><p>Pains et patisseries</p></li>
      <li class="filtre-btn"><p>Surgelés</p></li>
      <li class="filtre-btn"><p>Desserts</p></li>
      <li class="filtre-btn"><p>Produits non alimentaires</p></li>
      <li class="filtre-btn"><p>Produits d'origine végétale</p></li>
    </ul>
  <% end %>

  <div class="gallery-container">
    <% if @favorites.count != 0 %>
      <% @favorites.reverse.each do |favorite| %>
        <div class="gallery-item">
          <%= link_to product_path(favorite.product) do %>
            <%= image_tag favorite.product.photo %>
          <% end %>
          <%= link_to favorite_path(favorite, redirect_to: "index"), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
