<div class="navbar d-flex justify-content-center">
  <ul class="list-inline d-flex list-inline justify-content-around">
    <%= link_to root_path do%>
      <li class="nav-item">
        <div class="text-center nav-button active">
          <i class="fas fa-home"></i>
           <p><%= "Dashboard" %></p>
        </div>
      </li>
    <% end %>
    <%= link_to tickets_path do%>
      <li class="nav-item">
        <div class="text-center nav-button">
          <i class="fas fa-history"></i>
          <p><%= "Historique" %></p>
        </div>
      </li>
    <% end %>
    <%= link_to new_ticket_path do%>
      <li class="nav-item">
        <div class="text-center nav-button">
          <i class="fas fa-camera"></i>
          <p><%= "Scan" %></p>
        </div>
      </li>
    <% end %>
    <%= link_to favorites_path do%>
      <li class="nav-item">
        <div class="text-center nav-button">
          <i class="fas fa-star"></i>
          <p><%= "Favoris" %></p>
        </div>
      </li>
    <% end %>
    <%= link_to settings_path do%>
      <li class="nav-item">
        <div class="text-center nav-button">
          <i class="fas fa-cog"></i>
          <p><%= "Paramètres" %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
