<div class="container" style="padding-bottom: 0">

  <% if current_user %>
    <h1 id="title"> Bonjour <%= current_user.first_name.capitalize %></h1>

    <div class="figures-grid">

      <%= link_to tickets_path do  %>
        <div class="figures-card">
          <div>
            <h4>Tickets</h4>
            <h3><%= @tickets.count %></h3>
          </div>
        </div>
      <% end %>

      <%= link_to favorites_path do %>
        <div class="figures-card">
          <div>
          <h4>Favoris</h4>
          <% if @favorites.count.nil? %>
            <h3> 0 </h3>
          <% else %>
            <h3><%= @favorites.count %></h3>
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
    <% unless current_user.tickets.empty? %>
      <div class="global-score">
        <h4 class="mb-5 text-center">Votre score moyen</h4>
        <div class="d-flex justify-content-center mt-5">
          <div class="progress-circle mt-5 mb-3" data-value="<%= @global_tickets_score %>" style="transform: scale(3.5);">
            <div class="progress-masque" >
              <div class="progress-barre"></div>
              <div class="progress-sup50"></div>
            </div>
          </div>
        </div>
        <p class="info-dashboard">Rapprochez vous d'un score de 100 en scannant <br> vos tickets de caisse ! </p>
      </div>
    <% end %>
  <% end %>

  <% if !current_user || current_user.tickets.empty? %>
    <%= link_to new_ticket_path, class: "btn btn-success", id: "scan-btn-hp" do %>
      <p><i class="fas fa-plus" style="margin-right: 0.5rem;"></i>Nouveau ticket</p>
    <% end %>
  <% end %>
</div>
