<div class="container" style="padding-bottom: 0">

  <h1 id="title"><%= @title %></h1>

<% if current_user %>
  <div class="figures-grid">

    <div class="figures-card">
      <div>
        <h4>tickets</h4>
        <h3><%= @tickets.count %></h3>
        <%= link_to tickets_path do  %>
          <div class="circle-btn">
            <i class="fas fa-chevron-right"></i>
          </div>
        <% end %>
      </div>
    </div>

    <div class="figures-card">
      <div>
        <h4>favoris</h4>
        <% if @favorites.count.nil? %>
          <h3> 0 </h3>
        <% else %>
          <h3><%= @favorites.count %></h3>
        <% end %>
        <%= link_to favorites_path do %>
          <div class="circle-btn">
            <i class="fas fa-chevron-right"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <h4 class="mb-5">Votre score moyen</h4>
  <div class="d-flex justify-content-center mt-5">
      <div class="progress-circle mt-5 mb-3" data-value="<%= 74 %>" style="transform: scale(3.5);">
        <div class="progress-masque" >
          <div class="progress-barre"></div>
          <div class="progress-sup50"></div>
        </div>
      </div>
  </div>
<% end %>

  <%= link_to new_ticket_path, class: "btn btn-success", id: "scan-btn-hp" do %>
    <p><i class="fas fa-plus" style="margin-right: 0.5rem;"></i>Nouveau ticket</p>
  <% end %>

</div>
