<div class="container">
  <h1 id="title"><%= @title %></h1>

  <% @tickets.each do |ticket| %>
    <%= link_to ticket_path(ticket) do %>
    <div class="ticket-card">
      <div class="ticket-infos">
        <%= image_tag "https://static.neopse.com/medias/p/792/site/e6/16/34/e61634ac4f15e525738d000dcb5b2a4507f24ebf.png?v=v1", class: "brand-img" %>
        <div class="ticket-shop">
          <p><strong>U Express</strong></p>
          <p><small><%= ticket.created_at.strftime("%d/%m/%Y à %k:%M") %></small></p>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="ticket-items">
        <% ticket.items.first(8).each do |item| %>
          <% if item.product_id %>
            <%= image_tag Product.find(item.product_id).photo, class: "product-img" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
