<div class="container">
<h1> Ticket n°<%= @ticket.id %> </h1>
<p><small>Scanné le <%= @ticket.created_at.strftime("%d/%m/%Y à %k:%M") %></small></p>

<div class="ticket-icons">
  <%= link_to new_ticket_path do %>
  <i class="fas fa-plus"></i>
  <% end %>
  <%= link_to ticket_path(@ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
  <i class="far fa-trash-alt"></i>
  <% end %>
</div>
<hr>

<% @ticket.items.each do |item| %>
  <% if  item.product_id?%>
    <%= link_to product_path(item.product_id) do %>
      <div class="ticket-line">
        <%= image_tag Product.find(item.product_id).photo, class: "product-img" %>
        <div class="ticket-line-info">
          <% if item.product_id %>
          <p class="product-name"><%= Product.find(item.product_id).name%></p>
          <p class="product-brand"><%= Product.find(item.product_id).brand %></p>
            <p><span class="badge badge-pill badge-warning">Moyen</span></p>
          <% else %>
          <% end %>
        </div>
        <i class="fas fa-chevron-right"></i>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
