<div class="container">
  <div class="ticket-title">
    <h1 id="title"> <%= @title %> </h1>
      <%= link_to ticket_path(@ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
  </div>
  <div class="date-score">
    <p class="ticket-show-date"><small>U Express <%= @ticket.created_at.strftime("à %k:%M") %></small></p>
    
    <% if @identified_items.count != 0 %>
      <div class="product-score">
        <div class="progress-circle" data-value="<%= @ticket_score %>">
          <div class="progress-masque">
            <div class="progress-barre"></div>
              <div class="progress-sup50"></div>
          </div>
        </div>
      </div> 
    <% end %>
  </div>


<% unless @unidentified_items.empty?  %>
  <% if @unidentified_items.count == 1 %>
    <p class="ticket-show-title"><strong>Ce produit n'a pas été identifié</strong></p>
  <% else %>
    <p class="ticket-show-title"><strong>Ces <%= @unidentified_items.count %> produits n'ont pas été identifiés</strong></p>
  <% end %>
    <% @unidentified_items.each do |item| %>
      <%= link_to edit_item_path(item, ticket_id: @ticket.id) do %>
      <div class="ticket-line-unidentified">
        <p> <%= item.description %> </p>
        <i class="fas fa-camera"></i>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% unless @identified_items.empty? %>
  <% if @identified_items.count == 1 %>
    <p class="ticket-show-title"><strong> <%= @identified_items.count %> produit identifié </strong></p>
  <% else %>
    <p class="ticket-show-title"><strong> <%= @identified_items.count %> produits identifiés </strong></p>
  <% end %>
<% end %>
  <% @ticket.items.each do |item| %>
    <% if item.product_id?%>
      <%= link_to product_path(item.product_id) do %>
        
        <div class="ticket-card">
          <div class="ticket-infos">
            <div class="ticket-img">
              <%= image_tag Product.find(item.product_id).photo, class: "brand-img" %>
            </div>
            <div class="ticket-shop">
              <p><strong><%= Product.find(item.product_id).name%></strong></p>
              <p><small><%= Product.find(item.product_id).brand %></small></p>
              <% unless item.product.score.nil? %>
                <% if item.product.score < 33 %>
                  <p style="margin: 0"><span class="badge badge-pill badge-danger" > Mauvais </span></p>
                 <% elsif item.product.score < 66 %>
                   <p style="margin: 0"><span class="badge badge-pill badge-warning" > Moyen </span></p>
                <% else %>
                  <p style="margin: 0"><span class="badge badge-pill badge-success" > Bon </span></p>
                <% end %>
              <% end %>
            </div>
            <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 6.5L24.5714 6.5" stroke="#0AAF90" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M19.0714 1L24.5714 6.5L19.0714 12" stroke="#0AAF90" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        
      <% end %>
    <% end %>
  <% end %>
</div>
