<div class="container">
  <h1 id="title"><%= @title %></h1>
  <p><small>Scanné le <%= @ticket.created_at.strftime("%d/%m/%Y à %k:%M") %></small></p>

  <div class="ticket-icon">
    <%= link_to ticket_path(@ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
  </div>


  <% @ticket.items.each do |item| %>
    <% if  item.product_id?%>
      <%= link_to product_path(item.product_id) do %>
        <div class="ticket-line">
          <div class="product-img-ticket">
            <%= image_tag Product.find(item.product_id).photo, class: "img-ticket" %>
          </div>
          <div class="ticket-line-info">
            <% if item.product_id %>
            <p class="product-name"><%= Product.find(item.product_id).name%></p>
            <p class="product-brand"><%= Product.find(item.product_id).brand %></p>
            <p style="margin: 0"><span class="badge badge-pill badge-warning">Moyen</span></p>
            <% else %>
            <% end %>
          </div>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% @unidentified_items = @ticket.items.where(product_id: nil) %>
  <% unless @unidentified_items.empty?  %>
    <h1 class="mt-3"> Ces produits n'ont pas été identifiés </h1>
    <div class="container">
      <ul>
        <% @unidentified_items.each do |item| %>
          <li>
            <%= item.description %> <!-- Ici il faut recuperer les params d'un ticket et les passer dans le lien -->
            <%= link_to "Scanner le code barre", edit_item_path(item, ticket_id: @ticket.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
