<div class="container">
  <div class="ticket-title">
    <h1 id="title"> <%= @title %> </h1>
      <%= link_to ticket_path(@ticket), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer ce ticket ?" } do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
  </div>
  <div class="date-score">
  <p class="ticket-show-date"><small>U Express <%= @ticket.created_at.strftime("à %k:%M") %></small></p>
  <div class="product-score">
    <div class="progress-circle" data-value="<%= @ticket_score %>">
      <div class="progress-masque">
        <div class="progress-barre"></div>
          <div class="progress-sup50"></div>
      </div>
    </div>
  </div>
  </div>


<% unless @unidentified_items.empty?  %>
  <% if @unidentified_items.count == 1 %>
    <p class="ticket-show-title"><strong>Ce produit n'a pas été identifié</strong></p>
  <% else %>
    <p class="ticket-show-title"><strong>Ces <%= @unidentified_items.count %> produits n'ont pas été identifiés</strong></p>
  <% end %>
    <% @unidentified_items.each do |item| %>
      <%= link_to edit_item_path(item, ticket_id: @ticket.id) do %>
      <div class="ticket-line-unidentified">
        <p> <%= item.description %> </p>
        <i class="fas fa-camera"></i>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% unless @identified_items.empty? %>
  <% if @identified_items.count == 1 %>
    <p class="ticket-show-title"><strong> <%= @identified_items.count %> produit identifié </strong></p>
  <% else %>
    <p class="ticket-show-title"><strong> <%= @identified_items.count %> produits identifiés </strong></p>
  <% end %>
<% end %>
  <% @ticket.items.each do |item| %>
    <% if item.product_id?%>
      <%= link_to product_path(item.product_id) do %>
        <div class="ticket-line">
          <div class="product-img-ticket">
            <%= image_tag Product.find(item.product_id).photo, class: "img-ticket" %>
          </div>
          <div class="ticket-line-info">
            <% if item.product_id %>
            <p class="product-name"><%= Product.find(item.product_id).name%></p>
            <p class="product-brand"><%= Product.find(item.product_id).brand %></p>
              <% unless item.product.score.nil? %>
                <% if item.product.score < 33 %>
                  <p style="margin: 0"><span class="badge badge-pill badge-danger" > Mauvais </span></p>
                 <% elsif item.product.score < 66 %>
                   <p style="margin: 0"><span class="badge badge-pill badge-warning" > Moyen </span></p>
                <% else %>
                  <p style="margin: 0"><span class="badge badge-pill badge-success" > Bon </span></p>
                <% end %>
              <% end %>
            <% else %>
            <% end %>
          </div>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
