
 <h1> Scannez le code barre de "<%=@item.description%> " </h1>
<%= form_for(@item, html:{id: "scan_form"}) do %>
  <%= label_tag(:bar_code, "Bar code:") %>
  <%= text_field_tag(:bar_code, "", id: "scanned_bar_code" ) %>
  <%= submit_tag("Search") %>
<% end %>

<% api_key = Rails.env.production? ? ENV['SCANDIT_PROD_APIKEY'] : ENV['SCANDIT_DEV_APIKEY'] %>
  <div id="scandit-barcode-picker" data-apikey="<%= api_key %>" style="width: 100%; height: 100%;"></div>
