<h1>Fiche produit: <%= @product.name%></h1>

<%= image_tag @product.photo %>

<p>Marque :<%= @product.brand%></p>
<p>Catégorie :<%= @product.category%></p>
<p>Score :<%= @product.score%></p>
<p>Nom générique :<%= @product.generic_name%></p>
<p>Code bar :<%= @product.bar_code%></p>

<hr>
<h3>Favoris</h3>
<% if Favorite.find_by(user_id: current_user, product_id: @product.id).nil?%>
  <%= link_to  favorites_path(product: @product.id), method: :post do %>
    <i class="far fa-star" id="favorite"></i>
  <% end %>
<% end %>

<% if Favorite.find_by(user_id: current_user, product_id: @product.id)%>
  <%= link_to favorite_path(Favorite.find_by(user_id: current_user, product_id: @product.id).id), method: :delete do %>
    <i class="fas fa-star" id="notfavorite"></i>
  <% end %>
<% end %>
<hr>
<h3>Alternatives</h3>
<ul>
  <% @alternatives.each do |alternative| %>
    <li><%= link_to alternative.name, product_path(alternative) %> - <%= alternative.brand %> - <%= alternative.score %></li>
  <% end %>
</ul>

