<div class="container" style="padding-bottom: 0">
  <div class="photo-container">
    <div class="product-img">
      <%= image_tag @product.photo, :class => "rounded" %>
    </div>
  </div>

  <div class="product-infos">
    <div class="product-description">
      <span class="badge mb-3" id="badge-category"><%= @product.category%></span>

      <!-- A CHANGER PETIT POIS -->

      <h2 id="title" style="margin-bottom: 0px"><%= @title%></h2>
      <p style="margin-bottom: 4px"><em><%= @product.brand%></em></p>
      <div class="product-score-details">
        <div class="product-score-detail">
            <p class="label">Emballage</p>
            <% if  @product.ecoscore_grade == "a" %>
              <span class="badge badge-pill m-0" id="badge-green" >bon</span>
            <% elsif @product.ecoscore_grade == "b" %>
              <span class="badge badge-pill m-0" id="badge-orange" >moyen</span>
              <% elsif @product.ecoscore_grade == nil %>
              <span class="badge badge-pill m-0" id="badge-neutral" >indisp.</span>
              <% else %>
              <span class="badge badge-pill m-0" id="badge-red" >mauvais</span>
            <% end %>
        </div>
        <div class="product-score-detail">
            <p class="label">Production</p>
            <% if  @product.nutriscore_grade == "a" %>
              <span class="badge badge-pill m-0"id="badge-green" >bon</span>
            <% elsif @product.nutriscore_grade == "b" %>
              <span class="badge badge-pill m-0" id="badge-orange" >moyen</span>
            <% elsif @product.nutriscore_grade.nil? %>
              <span class="badge badge-pill m-0" id="badge-neutral" >indisp.</span>
            <% else %>
              <span class="badge badge-pill m-0"id="badge-red" >mauvais</span>
            <% end %>
        </div>
      </div>
    </div>
    <div class="product-score">
      <div class="progress-circle" data-value="<%= @product.score %>">
        <div class="progress-masque">
          <div class="progress-barre"></div>
          <div class="progress-sup50"></div>
        </div>
      </div>
    </div>
  </div>



  <div class="product-favorite">
    <% if Favorite.find_by(user_id: current_user, product_id: @product.id).nil?%>
      <%= link_to  favorites_path(product: @product.id), remote: true, method: :post do %>
        <%# <i class="far fa-star" id="favorite"></i> %>
        <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus" style="margin-right: 0.5rem"></i>Ajouter à mes favoris</button>
      <% end %>
    <% end %>

    <% if Favorite.find_by(user_id: current_user, product_id: @product.id)%>
      <%= link_to favorite_path(Favorite.find_by(user_id: current_user, product_id: @product.id).id), remote: true, method: :delete do %>
        <%# <i class="fas fa-star" id="notfavorite"></i> %>
        <button type="button" class="btn btn-outline-info"><i class="fas fa-minus" style="margin-right: 0.5rem"></i>Retirer de mes favoris</button>
      <% end %>
    <% end %>
  </div>
  <h3 class="alt-title">Alternatives</h3>
</div>



  <% if @product.category_agribalyse.nil? || @alternatives.count == 0 %>
    <div class="container">
      <p>Désolé, nous ne pouvons pas proposer d'alternatives pour ce produit.</p>
    </div>
  <% else %>
    <div class="product-alts">
      <% @alternatives.each do |alternative| %>
        <% if  alternative.photo? %>
          <%= link_to product_path(alternative) do  %>
            <div class="product-alt">
              <div class="d-flex justify-content-center">
                  <%= image_tag alternative.photo %>
              </div>
              <div class="alt-infos align-items-center">
                <h2><%= alternative.name %></h2>
                <% unless alternative.score.nil? %>
                  <% if alternative.score < 33 %>
                    <span class="badge badge-pill m-0" id="badge-red"><%= alternative.score %></span>
                  <% elsif alternative.score < 66 %>
                    <span class="badge badge-pill m-0" id="badge-orange"><%= alternative.score %></span>
                  <% else %>
                    <span class="badge badge-pill m-0" id="badge-green"><%= alternative.score %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>


