<div class="container" style="padding-bottom: 0">
  <div class="product-img">
    <%= image_tag @product.photo %>
  </div>
  <div class="product-infos">
    <div class="product-description">
      <h2 id="title"><%= @title%></h2>
      <p><em><%= @product.brand%></em></p>
      <span class="badge badge-success"><%= @product.category%></span>
    </div>
    <div class="product-score">
      <div class="progress-circle" data-value="<%= @product.score%>">
        <div class="progress-masque">
          <div class="progress-barre"></div>
          <div class="progress-sup50"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-favorite">
    <% if Favorite.find_by(user_id: current_user, product_id: @product.id).nil?%>
      <%= link_to  favorites_path(product: @product.id), remote: true, method: :post do %>
        <%# <i class="far fa-star" id="favorite"></i> %>
        <button type="button" class="btn btn-outline-success"><i class="fas fa-plus" style="margin-right: 0.5rem;"></i>Ajouter à mes favoris</button>
      <% end %>
    <% end %>

    <% if Favorite.find_by(user_id: current_user, product_id: @product.id)%>
      <%= link_to favorite_path(Favorite.find_by(user_id: current_user, product_id: @product.id).id), remote: true, method: :delete do %>
        <%# <i class="fas fa-star" id="notfavorite"></i> %>
        <button type="button" class="btn btn-outline-danger"><i class="fas fa-minus" style="margin-right: 0.5rem;"></i>Retirer de mes favoris</button>
      <% end %>
    <% end %>
  </div>
  <h3 class="alt-title">Alternatives</h3>

</div>

<div class="product-alts">
  <% @alternatives.each do |alternative| %>
    <% if  alternative.photo? %>
      <%= link_to product_path(alternative) do  %>
        <div class="product-alt">
          <div class="d-flex justify-content-center">
              <%= image_tag alternative.photo %>
          </div>
          <div class="alt-infos align-items-center">
            <h2><%= alternative.name %></h2>
            <% unless alternative.score.nil? %>
              <% if alternative.score < 33 %>
                <span class="badge badge-pill badge-warning m-0" style="background-color: $red;"><%= alternative.score %></span>
              <% elsif alternative.score < 66 %>
                <span class="badge badge-pill badge-warning m-0" style="background-color: $orange;"><%= alternative.score %></span>
              <% else %>
                <span class="badge badge-pill badge-warning m-0" style="background-color: $green;"><%= alternative.score %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
