<!DOCTYPE html>
<html>
  <head>
    <title>Footprint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- PWA - SET UP : prepare app for A2HS (Add To HomeScreen) -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- LINK the manifest (app/assets/config/manifest.js and manifest.json) to the layout -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <!--     We render the partial created for IOS PWA links (app/views/shared/_ios_pwa_links.html.erb) -->
    <%= render 'shared/ios_pwa_links' %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= favicon_link_tag %>

  </head>

  <body>
    <%= render 'shared/top_nav' %>
    <!-- ligne commentée pour ne pas afficher les "notices" quand l'utilisateur se log -->
    <%#= render 'shared/flashes' %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <% if params[:controller] == 'tickets' && params[:action] == 'new' %>
      <%= render 'shared/navbar_new_ticket' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
  </body>
</html>
