<!DOCTYPE html>
<html>
  <head>
    <title>Footprint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- PWA - SET UP : prepare app for A2HS (Add To HomeScreen) -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- LINK the manifest (app/assets/config/manifest.js and manifest.json) to the layout -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <!--     We render the partial created for IOS PWA links (app/views/shared/_ios_pwa_links.html.erb) -->
    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body>
    <%= render 'shared/top_nav' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
